<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-4.0.xsd
      http://www.springframework.org/schema/tx
      http://www.springframework.org/schema/tx/spring-tx.xsd
      http://www.springframework.org/schema/util
      http://www.springframework.org/schema/util/spring-util.xsd">

    <!-- 属性配置 -->
    <context:property-placeholder location="classpath:db.properties"/>

    <!-- DBCP数据源 -->
    <bean id="dataSource" destroy-method="close" class="org.apache.commons.dbcp.BasicDataSource"
          p:driverClassName="com.mysql.jdbc.Driver"
          p:url="jdbc:mysql://localhost:3306/test?useUnicode=true&amp;characterEncoding=utf8&amp;autoReconnect=true&amp;failOverReadOnly=true"
          p:username="root"
          p:password="1234"
    />

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
          p:dataSource-ref="dataSource"
          p:mapperLocations="classpath*:sqlmap/mapping-*.xml"
          p:typeAliasesPackage="com.mycompany.myapp.daoobject"
          p:plugins-ref="mybatisPlugins"/>

    <util:list id="mybatisPlugins">
        <bean class="com.github.miemiedev.mybatis.paginator.OffsetLimitInterceptor"
              p:dialectClass="com.github.miemiedev.mybatis.paginator.dialect.MySQLDialect"/>
    </util:list>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"
          p:basePackage="com.mycompany.myapp.dao"
          p:sqlSessionFactory-ref="sqlSessionFactory"/>

    <!--事务管理 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
          p:dataSource-ref="dataSource"/>

    <!-- 注册事务注解  -->
    <tx:annotation-driven transaction-manager="transactionManager"/>
</beans>